<div class="container">
  

<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="margin: 10px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand col-sm-6" id="brand" href="#">
        <p>Upplify</p>
        <p>Food</p>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" style="max-width: 500px; margin-bottom: 10px">
          <li ng-repeat="foodType in iconLayouts" class="col-xs-1 navbar-items" ng-click="setCurrent(foodType.id)" ng-class=isActive(foodType.id)>
            <img style="{{foodType.imgStyle}}" ng-src="{{foodType.image}}" /> 
            <p style="{{foodType.pStyle}}">{{foodType.name}}</p>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li class="navbar-items" ng-click="checkout()">
              <img style="min-height: 50px; width: auto" src="/resources/img/cart.png">
              <div class="row">
                <p class="col-xs-2">Checkout</p>
                <span class="badge  col-xs-offset-6 hidden-lg-down">{{orderBadge}}</span>
              </div>
          </li>
      </ul>
    </div>
  </div>
</nav>
</div>


